:root {
  --prim-color-text: #757575;
  --sec-color-text: #ffffff;
  --th-color-text: #000000;
  --prim-color-bg: #ffffff;
  --sec-color-bg: #757575;
  --accent-color: #2196f3;
}
.list {
  list-style: none;
}
body {
  background-color: (var(--prim-color-bg));
  color: (var(--prim-color-text));
  font-family: Poppins, sans-serif;
  font-size: 18px;
  letter-spacing: -0.015em;
  line-height: 1.5;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Josefin Sans, sans-serif;
}
/* header */
.logo {
  color: var(--prim-color-text);
  font-family: Josefin Sans, sans-serif;
  font-size: 30px;
  text-decoration: none;
}
.logo:hover,
.logo:focus {
  color: var(--accent-color);
}
.page-link .link {
  color: var(--accent-color);
  text-decoration: none;
}
.page-link .link:focus,
.page-link .link:hover {
  color: var(--prim-color-text);
}
.page-link .link.current {
  color: var(--prim-color-text);
}
.page-contact .link {
  color: var(--accent-color);
  font-size: 18px;
  text-decoration: none;
}
.page-contact .link:focus,
.page-contact .link:hover {
  color: var(--prim-color-text);
}
/* hero */
.hero {
  background-color: var(--sec-color-bg);
  color: var(--sec-color-text);
  font-size: 50px;
  text-align: center;
}
.button-primary {
  background-color: var(--accent-color);
  color: var(--sec-color-text);
  font-family: inherit;
  font-size: 28px;
  text-decoration: none;
  cursor: pointer;
}
.button-primary:hover,
.button-primary:focus {
  color: var(--th-color-text);
}
.button-secondary {
  background-color: var(--sec-color-bg);
  color: var(--sec-color-text);
  font-family: inherit;
  font-size: 20px;
  text-decoration: none;
  cursor: pointer;
}
.button-secondary:hover,
.button-secondary:focus {
  background-color: var(--accent-color);
  color: var(var(--sec-color-text));
}
/* section */
.section {
  background-color: var(--prim-color-bg);
  color: var(--prim-color-text);
}
.section-title {
  font-size: 38px;
  text-align: center;
}
.section-subtitle {
  color: var(--th-color-text);
  font-size: 28px;
}
.do-link {
  color: var(--prim-color-text);
  text-decoration: none;
}
.do-link:hover,
.do-link:focus {
  color: var(--accent-color);
}
/* social */
.social .link {
  color: var(--prim-color-text);
  text-decoration: none;
}
.social .link:hover,
.social .link:focus {
  color: var(--accent-color);
}
/* last */
.last {
  background-color: var(--sec-color-bg);
  color: var(--sec-color-text);
}
/* footer */
.address {
  color: var(--th-color-text);
}
.address .link {
  color: var(--accent-color);
  text-decoration: none;
}
.address .link:hover,
.address .link:focus {
  color: var(--prim-color-text);
}
.copy {
  color: var(--th-color-text);
}
.join-social .link {
  color: var(--prim-color-text);
  text-decoration: none;
}
.join-social .link:hover,
.join-social .link:focus {
  color: var(--accent-color);
}
/* portfolio */
.work {
  color: var(--prim-color-text);
  text-decoration: none;
}
.work:hover,
.work:focus {
  color: var(--accent-color);
}
